html {
	scroll-behavior: smooth;
}

body {
	text-align: center;
	margin: 0;
}

header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}

nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 20px 0;
}

main {
	max-width: 850px;
	margin: 35px auto;
}

h1 {
	font-family: Raleway, sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}

a {
	text-decoration: none;
	font-family: Raleway, sans-serif;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	margin: 0 20px;
	border-bottom: 2px solid transparent;
}

a:hover {
	border-color: white;
}

h2 {
	font-family: Raleway, sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}

p {
	font-family: "Droid Serif", sans-serif;
	line-height: 26px;
	font-size: 10px;
}

img {
	margin: 40px 8px;
}

footer {
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

button {
	clear: both;
	font-family: "Raleway", sans-serif;
	background-color: #F91B31;
	color: #FFFFFF;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
}

button:hover {
	clear: both;
	font-family: "Raleway", sans-serif;
	background-color: #00A6B3;
	color: #FFFFFF;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
}

.instructions {
	width: 50%;
	float: left;
}

table, th, td {
	background-color: #232323;
	margin: 0 auto;
	border: 1px solid white;
	border-collapse: collapse;
	text-transform: uppercase;
	border-radius: 15px;
}

th, td {
	padding: 10px 20px;
}

.scoreboard {
	float: right;
	width: 50%;
	font-family: 'Londrina Shadow', cursive;
	color: #aaaaaa;
}

.copyright {
	font-family: Raleway, sans-serif;
	float: left;
}

.message {
	font-family: Raleway, sans-serif;
	float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;
}